{% extends 'base.html' %}
{% block content %}

<style>
table#issues {border-top:1px solid #999; border-left:1px solid #999;}
table#issues td, table#issues th {text-align:left;  border-bottom:1px solid #999; border-right:1px solid #999;}
table#issues td {font-size:14px}
.mid {text-align:center !important}
</style>

{% if user %}

  <h2>Create a New Issue (member poll)</h2>
  
  <form action="/new" method="get">
  	<div><input type="submit" value="Create New"></div>
  </form>
  
  {% if success_msg %}
  	<div class="success_msg"><b>{{success_msg}}</b></div>
  {% endif %}
  
  <h2 style="margin-top:2em">Recently Created Public Issues</h2>
  <table border=0 cellpadding=2 cellspacing=0 id="issues" width=100%>
  <tr><th width=80%>Issue</th><th class="mid" width=10%>Votes</th><th class="mid" width=10%>Status</th></tr>
  {% if issues %}
  {% for issue in issues %}
    <tr>
      <td><a style="font-weight:normal" href="/issue/{{issue.urlcode}}">{{issue.title|title}} ({{issue.visibility}})</a></td>
      <td class="mid">{{issue.vote_count}}<td class="mid">{{issue.status}}</td>
    </tr>
  {% endfor %}
  {% else %}
   <td colspan=3 style="padding:6px"><i>No issues</i></td>
  {% endif %}
  </table>

{% else %}
	<p>This system may be used by any member of Hacker Dojo to create a poll for any reason.</p>
  <input type=submit value=Login onclick='document.location.href="{{login_url}}"'/>
{% endif %}

<p>&nbsp;</p>

{% endblock %}